html {
	background-image: url("bg1.jpeg");
	background-attachment: fixed;
	text-align: center;
	max-width: 800px;
	position: relative;
	left: 300px; 
	color: white;
	background-repeat: no-repeat;
}

p {
	text-align: center;
	font-size: 25px;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

a {
	color: white;
}